*{
    margin :0px;
    padding : 0px;
}
nav{
    background-color : black;
    color : white;
    padding : 15px;
}
li,h1,ul{
    display : inline;
}
ul{
    margin-left:60%
}
li{
    color : grey;
    cursor : pointer;
}
li:hover{
    color : white;
}
input{
    width : 60%;
    padding :15px;
}
.searchbar{
    padding : 50px;
    text-align : center;
}
.box{
    border-width :2px;
    border-color : black;
    border-style : solid;
    display : inline-block;
    width : 220px;

}
.box:hover{
    background-color :  black;
    color :white;
}
.products{
    text-align :center;
}
.about{
    text-align : center;
    padding-top :15px; 
}
.contact{
    height:150px;
    margin-top : 35px;
    margin-left :5px;
    margin-right :5px;
    margin-bottom :5px;
    color :white;
    background-color : black;
    text-align : center;
}
